@media only screen and (max-width: 972px) {
    .hero {
        width: 100%;
        height: 584px;
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/hero/bg-1.jpg");
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    .hero-text{
        width: 100%;
        height: 400px;
        margin: auto;
    }
    .main-text{
        color: #ffffff;
        text-align: center;
        font-weight: bolder;
        font-size: 28px;
    }
    .hero-text span{
        color: #e67e22;
        
    }
    .sub-text{
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.5em;
    }
    .small-text{
        color: #ffffff;
        font-weight: bold;
        text-align: center;
        font-size: 14px;
        line-height: 2em;
    }
    .hero-button-wrapper{
        width: 80%;
        height: auto;
        margin-top: 40px;
        display: flex;
    }
    .btn-company{
        background: #e67e22;
        color: #ffffff;
        border: none;
        height: 50px;
        width: 48%;
    }
    .btn-services{
        background: #192a56;
        color: #ffffff;
        border: none;
        height: 50px;
        width: 48%;
    }
    .quote{
        width: 100%;
        min-height: 200px;
        background: #e67e22;
        display: flex;
    }
    .quote-text{
        height: 70px;
        margin-top: 5px;
        justify-content: flex-start;
    }
    .quote-text p{
        color: #ffffff;
        font-size: 14px;
    }
    .quote-button{
        height: 50px;
        margin-left: 10px;
        justify-content: flex-start;
    }
    .btn-quote{
        background: #192a56;
        color: #ffffff;
        border: none;
        height: 40px;
        width: 50%;
    }
    .about-us{
        width: 100%;
        min-height: 557px;
        margin-top: 80px;
        display: flex;
    }
    .title{
        padding: 10px;
        margin-left: 5px;
    }
    .title span{
        color: #e67e22;
    }
    .title h2{
        font-weight: bolder;
        font-size: 30px;
        color: #192a56;
    }
    .title-subtext{
        color: #192a56;
        font-size: 18px;
        letter-spacing: 5px;
    }
    .about-text{
        width: 100%;
        height: auto;
    }
    .about-text p{
        color: #192a56;
    }
    .btn-read-more{
        background: #e67e22;
        color: #ffffff;
        border: none;
        height: 40px;
        width: 40%;
    }
    .about-image{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .about-image img{
        width: 100%;
        height: 100%;
        border: 1px solid #bdc3c7;
        padding: 5px;
        background: #192a56;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .our-services{
        width: 100%;
        min-height: 557px;
        margin-top: 80px;
    }
    .nav-tabs a{
        color: #192a56!important;
    }
    .nav-img{
        width: 100%;
        height: 200px;
    }
    .nav-img img{
        width: 100%;
        height: 100%;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .our-services p, span{
        color: #192a56;
    }
    .our-services i{
        color: #e67e22;
        font-size: 16px;
    }
    .our-services li{
        list-style-type: none;
    }
    .our-approach{
        width: 100%;
        min-height: 557px;
        margin-top: 80px; 
    }
    .our-approach-icon-wrapper{
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    .our-approach-icon-wrapper i{
        font-size: 60px;
        color: #192a56;
    }
    .our-approach-icon-wrapper i:hover{
        color: #e67e22;
    }
    .our-approach-text-wrapper{
        height: auto;
        margin-top: 40px;
    }
    .our-approach-text-wrapper p{
        color: #192a56;
        text-align: left;
    }
    .icon-caption{
        color: #192a56;
        font-size: 23px;
        font-weight: bolder;
        align-self: center;
    }
    .our-values{
        width: 100%;
        height: 450px;
        margin-top: 100px;
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/our-values/1.jpg");
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    .our-blog{
        width: 100%;
        height: 557px;
        margin-top: 100px;
    }
    .card-title, .card-text, .text-muted{
        color: #192a56!important;
    }
    .contact{
        width: 100%;
        height: auto;
        margin-top: 100px;
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/contact/2.jpg");
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;#123456
    }
    .contact-button{
        display: flex;
        justify-content: center;
    }
    .btn-contact{
        background: #192a56;
        color: #ffffff;
        border: none;
        width: 100%;
        height: 50px;
    }
    .btn-contact:hover{
        color: #e67e22;
    }
    form legend{
        color: #ffffff;
        font-size: 38px;
        letter-spacing: 5px;
    }
    form label{
        color: #ffffff;
    }
    form input{
        background: transparent!important;
        border-radius: 0px!important;
        caret-color: #ffffff;
    }
    
    textarea{
        background: transparent!important;
        border-radius: 0px!important;
        caret-color: #ffffff;
    }
    textarea::placeholder{
        color: #ffffff!important;
    }
    input::placeholder{
        color: #ffffff!important;
    }
    footer{
        width: 100%;
        height: auto;
        background: #192a56;
    }
}
    